* {
  margin: 0 auto;
  color: white;
}
.nav_bar {
  background-color: navy;
  display: flex;
  align-items: center;
  height: 50px;
}
.nav_logo {
  font-size: 20px;
  flex-shrink: 1;
}
.nav_menu {
  flex-shrink: 0;
}
.nav_manu_container {
  list-style: none;
  display: flex;
  justify-content: center;
}
.nav_menu_list {
  padding: 0 15px;
}
.nav_icon {
  flex-shrink: 1;
}
.nav_icon_container {
  list-style: none;
  display: flex;
  justify-content: right;
}
.nav_icon_list {
  padding: 0 15px;
}
@media (max-width: 724px) {
  .nav_bar {
    height: auto;
    flex-direction: column;
  }
  .nav_logo {
    position: relative;
    left: -230px;
    top: 0px;
    <i class="fas fa-bars"></i>;
  }
  .nav_manu_container {
    flex-direction: column;
  }
  .nav_menu_list {
    padding: 5px 0;
  }
  .nav_icon_list {
    padding: 10px 5px;
  }
}
